@include responsive(580px) {
  .block-empty {
    display: none;
  }
  .portfolio-block {
    min-height: 180px;
  }
}
@include responsive("", $table) {
  .portfolio-blocks {
    min-height: calc(100vh - 260px);
  }
  .portfolio-block {
    min-height: calc(50vh - 131px);
  }
}

.portfolio-blocks {
  border-left: 1px solid $grey;
  border-top: 1px solid $grey;
}

.portfolio-block {
  border-bottom: 1px solid $grey;
  border-right: 1px solid $grey;
  padding: 18px 23px;
  position: relative;
  overflow: hidden;
  h2 {
    text-align: center;
  }
}

/* testimonial block */
.block-testimonial {
  .text {
    position: relative;
  }
  & .text:before,
  &:after {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 135px;
    color: #eeeeee;
    line-height: 50px;
    position: absolute;
    z-index: -1;
  }
 & .text:before {
   content: '“';
   top: 10px;
   left:  -15px
 }
  &:after {
    content: '”';
    bottom: -10px;
    right: 7px;
    line-height: 1px;
  }
  h2 {
    padding-bottom: 32px;
    text-align: center
  }
  .author:before {
    content: '- ';
  }
  .author {
    display: block;
    text-align: right;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

/* code block */
.block-code {
  padding: 0;
  h2 {
    z-index: 10;
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 17px 50px;
  }
  code {
    z-index: 1;
    padding: 0;
    pre {
      padding: 18px 23px !important;
      margin: 0 !important;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  pre {
    overflow: hidden !important;
  }
}

/* portfolio block */
.block-portfolio {
  .portfolio-tech {
    text-align: center;
    padding-bottom: 20px
  }
  ul {
    list-style-type: disc;
    margin-left: 8px;
  }
}

/* experience block */
.block-experience {
  h2 {
    padding-bottom: 39px
  }
  ul {
    list-style-type: disc;
    margin-left: 8px;
  }
}

/* availability block */
.block-availability {
  padding: 0;
  text-align: center;
  h2 {
    padding: 18px 23px 0;
  }
  .time {
    border-bottom: 1px solid #e6e6e6;
    padding: 12px 23px 10px;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .environment-content {
    padding: 19px 23px 18px;
  }
}